* {
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    font-size: 3vmin;
}

body {
    height: 100vh;
    background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent) no-repeat;
    background-blend-mode: screen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section {
    background-color: black;
    opacity: 0.7;
    margin: 3rem;
    padding: 2rem;
}

h1 {
    color: white;
    font-size: 3.33rem;
    font-family: 'Allura', cursive;
    padding: 1rem;
    background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent) no-repeat;
    background-blend-mode: screen;
    background-position: 50% 50%;
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: white;
    color: black;
    opacity: 0.5;
    border-radius: 10px;
    padding: 1.5rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
}

button:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 500px) {
    
    html {
        font-size: 4vmin;
    }
}